APIFY_URL=https://api.apify.com/v2/actors/voyager~booking-reviews-scraper/run-sync-get-dataset-items?token=YOUR_APIFY_TOKEN
ZALO_URL=https://bot-api.zaloplatforms.com/botYOUR_BOT_TOKEN/sendMessage
ZALO_CHAT_ID=zgr-76340e272342ca1c9353
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
